<h1>Welcome to Rock–Paper–Scissors</h1>
<p>
  Rock–Paper–Scissors is a hand game usually played between two people, in which each player simultaneously forms one of three shapes with an outstretched hand. These shapes are "rock" (a closed fist), "paper" (a flat hand), and "scissors" (a fist with the index finger and middle finger extended, forming a V). "Scissors" is identical to the two-fingered V sign (aka "victory" or "peace sign") except that it is pointed horizontally instead of being held upright in the air. A simultaneous, zero-sum game, it has only two possible outcomes: a draw, or a win for one player and a loss for the other.
</p>
<p>
  A player who decides to play rock will beat another player who has chosen scissors ("rock crushes scissors" or sometimes "blunts scissors"), but will lose to one who has played paper ("paper covers rock"); a play of paper will lose to a play of scissors ("scissors cuts paper"). If both players choose the same shape, the game is tied and is usually immediately replayed to break the tie.
</p>
<p>
  To better understand how RPS works, select a game below to see its result:
</p>
<ul>
  <li><a href='/play/rock/rock'>Player1: Rock  &ndash;  Player2: Rock</a></li>
  <li><a href='/play/rock/paper'>Player1: Rock  &ndash;  Player2: Paper</a></li>
  <li><a href='/play/rock/scissors'>Player1: Rock  &ndash;  Player2: Scissors</a></li>
  <li><a href='/play/paper/rock'>Player1: Paper  &ndash;  Player2: Rock</a></li>
  <li><a href='/play/paper/paper'>Player1: Paper  &ndash;  Player2: Paper</a></li>
  <li><a href='/play/paper/scissors'>Player1: Paper  &ndash;  Player2: Scissors</a></li>
  <li><a href='/play/scissors/rock'>Player1: Scissors  &ndash;  Player2: Rock</a></li>
  <li><a href='/play/scissors/paper'>Player1: Scissors  &ndash;  Player2: Paper</a></li>
  <li><a href='/play/scissors/scissors'>Player1: Scissors  &ndash;  Player2: Scissors</a></li>
</ul>
