html, body {
  font-family: Asap, sans-serif;
  background-color: #92BCEA;
}


a {
  color: #03012C;
  font-family: 'Asap', sans-serif;
  font-size: 16pt;
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin: 20pt auto;
}

a:hover {
  color: #3454D1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
